.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 600px;
}

.modalTitle{
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
}

.modalPrice{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    
}

.contentInner{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    margin: auto;
}


